*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: #010D00;
  --light-color: #A6A6A6;
  --dark-color: #737373;
  --bg-secundary-color: #272727;

  --font-family: "Poppins", serif;
  --h1: 300 5rem/135% var(--font-family);
  --h2: 300 3rem/140% var(--font-family);
  --h3: 800 1.5rem/140% var(--font-family);
  --text: 400 1.2rem/140% var(--font-family);
}

body {
  color: var(--light-color);
  background-color: var(--bg-color);
  font: var(--text)
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: var(--dark-color);
}

img{
    max-width: 100%;
}
