section {
  width: 100wh;
  margin: 5rem;
  
  img {
    height: 400px;
    border: 3px solid #272727;
    border-radius: 1rem;
  }

  ul li {
    margin-bottom: 2rem;
    letter-spacing: 0.25rem;
  }
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}